@import "../styles/theme.sass"
@import "../styles/_variables"

.page
  background-size: 181%
  background-position: 68% 35%
  background-repeat: no-repeat
  width: 100%



// HEADER

header
  background: url('../assets/soundwave.jpg') no-repeat center center
  background-position-x: 90%
  min-height: 300px

  .logo
    font-family: $raleway
    font-weight: 600
    font-size: 50px
    color: white

  .motto
    margin: 0px
    font-size: 33px
    font-family: $source-sans
    font-weight: 300
    color: white




// MAIN




h2
  font-family: $source-sans
  font-weight: 700
  text-transform: uppercase
  margin-right: 20px
  color: #4a4fb6
  border-bottom: 5px solid #4a4fb6
  width: 180px

section
  width: 900px
  margin: auto


.centered-container
  width: 100%
  height: 300px
  display: flex
  flex-direction: column
  // min-height: 720px
  align-items: center
  justify-content: center
  margin-bottom: 0
  // background-color: rgba(74, 79, 182, 0.95)
  background-image: linear-gradient(134deg, #1D1F50 0%, #5357C4 100%)
  opacity: 0.9


  &__emphasis
    color: $brand-color-2
    font-weight: 600
